{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <form method="post" action="{% url 'add_comment' post.author.username post.id %}">
      {% csrf_token %}
      <h5 class="card-header">{{ form.instance.id|yesno:"Добавить или изменить,Добавить" }} комментарий:</h5>
      <div class="card-body">
        <div class="form-group">
          {{ form.text|addclass:"form-control" }}
        </div>
        {% url "add_comment" post.author.username post.id as url_post_view%}
        {% url "comment_edit" post.author.username form.id as url_comment_edit %}
        {% if form.instance.id %}
          <input type="submit" class="btn btn-sm btn-info" formaction="{{ url_comment_edit }}" value="Изименить" />
          &nbsp;
          <input type="submit" class="btn btn-sm btn-primary" formaction="{{ url_post_view }}" value="Добавить" />
        {% else %}
          <input type="submit" class="btn btn-sm btn-primary" formaction="{{ url_post_view }}" value="Отправить" />
        {% endif %}
      </div>
    </form>
  </div>
{% endif %}

{% for item in comments %}
  <div class="media card mb-4">
    <div class="media-body card-body">
      <h5 class="mt-0">
        <a
          href="{% url 'profile' item.author.username %}"
          name="comment_{{ item.id }}"
        >{{ item.author.username }}</a>
      </h5>
      <p>{{ item.text|linebreaksbr }}</p>
    </div>
    <div class="media-body card-body" style="width: 100%;">
      <div class="btn-group" style="text-align: left;">
        {% if user == item.author %}
          <form method="get" action="{% url 'comment_edit' user item.id %}">
            <button type="submit" class="btn btn-sm btn-info">Редактировать</button>
          </form>
          &nbsp;
          <form method="post" action="{% url 'comment_delete' user item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
          </form>
        {% endif %}
      </div>
      <div style="text-align: right;">
        <small class="text-muted">{{ item.created }}</small>
      </div>
    </div>
  </div>
{% endfor %}
