{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.get_full_name }}{% endblock %}
{% block header %}Профиль пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
  <div class="row">

    <div class="col-md-3 mb-3 mt-1">
      <div class="card">

        <div class="card-body">
          <div class="h2">
            {{ author.get_full_name }}
          </div>
          <div class="h3 text-muted">
            @{{ author.username }}
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">
              Подписчиков: XXX <br>
              Подписан: XXX
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              Записей: {{ author.posts.count }}
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="col-md-9">
      {% for post in page %}
        <div class="card mb-3 mt-1 shadow-sm">
          <div class="card-body">
            <p class="card-text">
              <a href="{% url 'profile' username=author.username %}">
                <strong class="d-block text-gray-dark">{{ author.username }}</strong>
              </a>
              {{ post.text|linebreaksbr }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group ">
                {% url 'post' username=author.username post_id=post.id as post_url %}
                <a
                  class="btn btn-sm text-muted"
                  href="{{ post_url }}"
                  role="button"
                >Добавить комментарий</a>
                {% if author == user %}
                  {% url 'post_edit' username=user.username post_id=post.pk as post_edi_url %}
                  <a
                    class="btn btn-sm text-muted"
                    href="{{ post_edi_url }}"
                    role="button"
                  >Редактировать</a>
                {% endif %}
              </div>
              <small class="text-muted">
                {{ post.pub_date|date:"d M Y" }}.
              </small>
            </div>
          </div>
        </div>
      {% endfor %}
      {% include "includes/paginator.html" %}
    </div>
  </div>
{% endblock %}
